/* General Settings */  
.stDeployButton {visibility: hidden;}
#MainMenu {visibility: hidden; }
footer {visibility: hidden;}

.main {
    margin-top: -60px;
}

/* Center alignment for title and subheader */
.center-align {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    text-align: center;
}

.stButton button {
    margin-top: 30px; /* Adjust the value as needed */
}

.query-style {
    font-family: monospace;
    padding: 10px;
    border-radius: 5px;
}

.stChatMessage:has(.chat-assistant) {
    background-color: rgb(26, 28, 36);
}


[data-testid="baseButton-secondary"] {
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 15px;
    padding: 1% 1% 1% 1%;
    height: 100%;
} 



